body{
margin:0;
font-family:Arial;
text-align:center;
}

.page{
display:none;
height:100vh;
padding:40px;
background:#ffd6e7;
}

.page.active{
display:block;
}

h1{
color:#ff2e6e;
}

.gallery img{
width:200px;
border-radius:15px;
margin:10px;
}

button{
padding:12px 20px;
border:none;
border-radius:10px;
background:#ff4d6d;
color:white;
font-size:16px;
}

.letter{
font-size:20px;
line-height:1.6;
}

.big{
font-size:60px;
margin-top:200px;
}

.qr{
width:220px;
margin-top:20px;
}

/* Sea Theme */

.sea{
background:#bdeaff;
color:#003c5a;
}

/* Final Page */

.final{
background:#ffc0cb;
}
